/*
*
* Client-Side Reliability Engine
* csr-engine.css
* Steve Pappas
* Columbia University
*
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

/*** GENERAL STYLE ***/

#csr-resizable {
    border-bottom: 1px solid #757575;
	height: 280px;
	padding-bottom: 13px;
}

#csr-wrapper {
    margin: 0;
    height: 100%;
    overflow: auto;
    padding: 4px 12px 8px 12px;
    position: relative;
    z-index: 999;
}

.csr {
    background-color: #E8EAEC;
    font-family: 'Ubuntu', Helevetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.csr h1 { color: #181818; font-size: 20px; font-weight: bold; margin: 4px 0 4px 0; text-shadow: 2px 2px 2px #B8B6B9; }
.csr h2 { color: inherit; font-size: 18px; font-weight: bold; margin: 1px 0 8px 0; }
.csr h3 { color: inherit; font-size: 12px; font-weight: normal; margin: 0 0 8px 0; }
.csr-title { font-size: 14px; }

.csr-bold { font-weight: medium; }
.csr-italic { font-style: italic; }
.csr-small-bottom { margin-bottom: 2px; }

.csr-button {
    position: fixed;
    background-color: #F5F5F5;
    border: 1px solid #BBB;
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: #181818;
    height: auto;
    left: 47%;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
}

.csr-button:hover, .csr-button:active { border-color: #A0A0A0; }

/*** OPTIONS PANEL ***/

/*#csr-options-panel {
	background-color: #CACACA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
	margin: 12px 4px 16px 16px;*/
	/*max-height: 232px;
	overflow: auto;*/
	/*width: 200px;
}*/

#csr-options-panel {
	background-color: #B8BABC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 16px;
	right: 16px;
	opacity: 0.9;
	/*margin: 12px 4px 16px 16px;*/
	/*max-height: 232px;
	overflow: auto;*/
	width: 234px;
	z-index: 10000;
}

#csr-options-button {
    float: right;
    background-color: #3A3C40;
    border-radius: 4px;
    color: #CECECE;
    margin: 0;
    padding: 4px;
}

#csr-options-button:hover { color: #F0F0F0; }

#csr-options-toggle {
    float: right;
    background-color: #3A3C40;
    border: none;
    border-radius: 4px;
    color: #CECECE;
    margin: 0;
    margin-left: 6px;
    padding: 4px;
    padding-right: 0;
}

#csr-options-toggle:hover { color: #F0F0F0; }

.csr-options-element { margin: 0; }
.csr-options-checkbox {
	display: inline;
	margin-right: 4px;
	vertical-align: middle;
}
.csr-options-label { display: inline; vertical-align: middle; }

.csr-options-title {
	background-color: #3A3C40;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px 12px 4px 12px;
}

.csr-options-title h2 { color: #CCCED0; }

.csr-options-tab {
	background-color: #B8BABC;
	float: left;
	height: 14px;
	padding: 8px 7px 8px 7px;
	text-align: center;
	width: 64px;
}

.csr-options-tab:hover { background-color: #5D5D63; color: #CCCED0; cursor: pointer; }

.csr-selected { background-color: #5B5D63; color: #CCCED0; }

.csr-options-content {
	padding: 4px 12px 6px 12px;
}

#csr-doc-tab { display: none; }

#csr-jslint-tab { display: none; }

/*** ERROR AND CODE DISPLAY ***/

.csr-pre {
    margin-bottom: 4px;
    margin-left: 12px;
    margin-right: 32px;
}

.csr-code {
    /*background-color: #6D6D73;*/
	background-color: #F3F5F7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    /*color: #DEDEDE;*/
	color: #181818;
    font-family: monospace;
    margin-bottom: 0;
    overflow: hidden;
    padding: 5px 6px 6px 0;
}

.csr-code-inner {
    padding: 6px;
}

.csr-code-line {
    color: #55B214;
    font-weight: bold;
}

.csr-error { color: #8A360F; }

.csr-view-source { color: #707070; margin-top: 0; }
.csr-view-source:hover { cursor: pointer; text-decoration: underline; }

/*** JQUERY UI RESIZABLE ***/

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
