/*
*
* Client-Side Reliability Engine
* csr-engine.css
* Steve Pappas
* Columbia University
*
*/

#csr-wrapper {
    border-bottom: 1px solid #757575;
    margin: 0;
    max-height: 288px;
    overflow: auto;
    padding: 0 12px 8px 12px;
}

.csr {
    background-color: #EAEAEA;
    font-family: 'Segoe UI', Helevetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.csr h1 { color: #181818; font-size: 20px; margin: 4px 0 4px 0; text-shadow: 2px 2px 2px #B8B6B9; }
.csr h2 { font-size: 16px; margin: 2px 0 2px 0; }
.csr h3 { font-size: 14px; margin: 2px 0 2px 0; }

.csr-bold { font-weight: bold; }
.csr-italic { font-style: italic; }

.csr-button {
    position: fixed;
    background-color: #F5F5F5;
    border: 1px solid #BBB;
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: #181818;
    height: auto;
    left: 47%;
    margin: 0 auto;
    top: 0;
}

.csr-button:hover, .csr-button:active { border-color: #A0A0A0; }

pre {
    color: #1874CD;
    margin-bottom: 4px;
    margin-left: 12px;
    margin-right: 32px;
}

.code {
    background-color: #4A4A50;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    color: #DEDEDE;
    margin-bottom: 0;
    overflow: hidden;
    padding: 4px 6px 5px 0;
}

code {
    padding: 6px;
}

.code-line {
    color: greenyellow;
    font-weight: bold;
}

.error { color: #AD0000; }
